<!DOCTYPE html>
<html lang="pt-BR">

  <%- include("includes/head") %>

  <body>
    <%- include("includes/navbar") %>

    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6 my-4">
          <h1 class="text-center">Cadastrar Contato</h1>

          <%- include("includes/errorMessages") %>

          <div class="row my-4 p-0">
            <div class="col-2"></div>

            <div class="col-8">
              <form action="/addContact" method="post">
                <!-- <input type="hidden" name="_csrf" value="<%# csrfToken %>"> -->
                <div class="mb-3">
                  <label for="name" class="form-label">Nome</label>
                  <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label for="last-name" class="form-label">Sobrenome</label>
                  <input type="text" name="last-name" class="form-control" id="last-name" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label for="phone" class="form-label">Telefone</label>
                  <input type="tel" name="phone" class="form-control" id="phone">
                </div>

                <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
              </form>
            </div>

            <div class="col-2"></div>
          </div>
        </div>

        <div class="col-lg-3"></div>


      </div>
    </div>

    <%- include("includes/scripts") %>
  </body>
</html>
