<!DOCTYPE html>
<html lang="pt-BR">

  <%- include("includes/head") %>

  <body>
    <%- include("includes/navbar") %>

    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6 my-4">
          <h1 class="text-center">Editar Contato</h1>

          <%- include("includes/errorMessages") %>

          <div class="row my-4 p-0">
            <div class="col-2"></div>

            <div class="col-8">
              <h2 class="text-center">Usuário inválido.</h2>
            </div>

            <div class="col-2"></div>
          </div>
        </div>

        <div class="col-lg-3"></div>


      </div>
    </div>

    <%- include("includes/scripts") %>
  </body>
</html>
